<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body>


<div class="container-fluid">

    <div class="row">
        <div class="inner">
            <img class="img-fluid" src="/images/logo.gif"></div>
    </div>
    <div class="row flex-items-xs-center">
        <div class="col-xs-6">
            <h2 id="rank1header">Platz #1</h2>
            <p id="rank1name"></p>
            <p id="rank1count"></p><img id="rank1img" class="imgfluid" src="/images/mk7.GIF"/>
        </div>
        <div class="col-xs-6">
            <h2 id="rank2header">Platz #2</h2>
            <p id="rank2name"></p>
            <p id="rank2count"></p><img id="rank2img" class="imgfluid" src="/images/mk9.GIF"/>
        </div>
    </div>


    <div class="mastfoot">
        <div class="row flex-items-xs-center">
            <div class="col-xs-6"><img class="img-fluid" alt="Mario Kart" src="/images/mariokart.GIF"/>
            </div>
        </div>
        <div class="row flex-items-xs-center">
            <div class="col-xs-12">
                <p>made with &hearts; <a
                            href="https://twitter.com/bastifantasti">@bastifantasti</a>.</p></div>
        </div>
    </div>

</div>

<script src="/js/<%= jsFile %>"></script>

</body>
</html>
